.about-me {
  max-width: 1300px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  gap: 200px;
}

.about-me p {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 20px;
}

.about-me a,
strong {
  color: #f2f2f2;
}

.about-me .subtitle {
  max-width: 6ch;
}

.about-me-content {
  padding: 20px;
  background: #222222;
  margin-bottom: 20px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .about-me {
    grid-template-columns: 1fr;
    gap: 20px 0px;
    max-width: 900px;
  }

  .about-me .subtitle {
    max-width: max-content;
    justify-self: center;
  }

  .about-me-content p {
    font-size: 1.25rem;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .about-me-content p {
    font-size: 1rem;
    justify-content: center;
  }
}
