.company-functions {
  line-height: 2;
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.experience-subtitle {
  margin-top: 150px;
}

@media (max-width: 900px) {
  .experience-subtitle {
    margin-top: 0px;
  }
}
