body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #dadada;
  background: #131214;
  margin-bottom: 500px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.home {
  background-image: url("../assets/images/background_home.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  justify-content: center;
  max-height: 600px;
  transition: 0.8s;
}

.divider {
  grid-column: 1 / -1;
  background: #a8a8a8;
  height: 1px;
  width: auto;
}

.about-section {
  width: 0px;
  transition: 0.8s;
}

.section-cards {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px 20px;
  padding: 20px;
  background: #222222;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  align-content: start;
}

.section-cards h4 {
  font-size: 2rem;
  align-self: center;
}

.section-cards ul {
  align-content: center;
}

.section-cards:nth-child(odd) {
  grid-column: 2;
}

.section-cards:nth-child(even) .period-section,
.section-cards:nth-child(even) .image-section {
  margin-left: 105%;
  left: 0px;
}

.section-cards:nth-child(even) .period-section {
  text-align: start;
}

.section-cards:nth-child(odd)::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#05b9d2, #328ef0);
  position: absolute;
  top: 20px;
  left: -10px;
}

.section-cards:nth-child(even)::after {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#05b9d2, #328ef0);
  position: absolute;
  top: 20px;
  right: -10px;
}

.sections {
  max-width: 1300px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.section-information {
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: bold;
}

.image-first-section {
  width: 0px;
  position: absolute;
  right: 102%;
  transition: 0.8s;
}

.first-section-content {
  max-width: 1300px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
  gap: 50px;
}

.first-section-content:hover .image-first-section {
  margin-top: 15%;
  width: 100%;
}

.first-section-content:hover .hide-first-section-title {
  font-size: 0px;
}

.subtitle {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  max-width: 6ch;
  color: #a8a8a8;
  align-self: center;
  transition: 0.8s;
}

.last-recent-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px 20px;
  padding: 20px;
  background: #222222;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}

.last-recent-section::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 20px;
  top: 20px;
  left: -10px;
  background: linear-gradient(#b6f829, #67dd0a);
}

.image-section {
  position: absolute;
  top: 50px;
  right: 102%;
  width: 0px;
  transition: 0.8s;
}

.image-section:nth-child(even) {
  position: absolute;
  width: 100px;
  transition: 0.8s;
}

.second-section:hover .second-section-image {
  width: 80%;
}

.third-section:hover .third-section-image {
  width: 80%;
}

.fourth-section:hover .fourth-section-image {
  width: 60%;
}

.fifth-section:hover .fifth-section-image {
  width: 60%;
}

.period-section {
  position: absolute;
  top: 20px;
  left: -270px;
  width: 250px;
  text-align: end;
  font-size: 1.25rem;
}

.section-information-title {
  text-align: end;
}

.section-description {
  font-size: 1.25rem;
  line-height: 1.4;
  grid-column: 1 / -1;
  margin: 20px 0;
}

.section-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.section-skills li {
  line-height: 1.4;
  border-radius: 4px;
  background: #141414;
  padding: 5px 10px;
}

@media (min-width: 2500px) {
  .home {
    background-image: url("../assets/images/background_home_ultrawide_50.png");
    max-height: 800px;
  }
}

@media (min-width: 2000px) {
  .home {
    background-image: url("../assets/images/background_home_ultrawide.png");
  }
}

@media (max-width: 1200px) {
  .subtitle {
    font-size: 5rem;
    max-width: max-content;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .sections {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px 0px;
  }

  .first-section-content {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px 0px;
  }

  .subtitle {
    font-size: 4rem;
    max-width: max-content;
    text-align: center;
  }

  .section-cards {
    margin-left: 25%;
  }

  .section-cards:nth-child(odd) {
    grid-column: 1;
  }

  .section-cards:nth-child(even) .period-section {
    margin-left: 0px;
    text-align: end;
    left: -270px;
  }

  .section-cards:nth-child(even)::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#05b9d2, #328ef0);
    position: absolute;
    top: 20px;
    left: -10px;
  }

  .section-cards:nth-child(even)::after {
    content: "";
    width: 0px;
    height: 0px;
  }

  .last-recent-section {
    margin-left: 25%;
  }

  .disabled-hover {
    pointer-events: none;
  }
}

@media (max-width: 800px) {
  .subtitle {
    font-size: 3rem;
  }

  .section-information {
    grid-column: 1 / -1;
    text-align: center;
    justify-self: center;
  }

  .section-cards {
    margin-left: 0px;
  }

  .section-cards:nth-child(even)::before {
    width: 0px;
    height: 0px;
  }

  .section-cards:nth-child(odd)::before {
    width: 0px;
    height: 0px;
  }

  .section-cards:nth-child(even) .period-section {
    margin-left: 0px;
  }

  .last-recent-section {
    margin-left: 0px;
  }

  .last-recent-section::before {
    width: 0px;
    height: 0px;
  }

  .period-section {
    position: static;
    text-align: center;
    justify-self: center;
    grid-column: 1 / -1;
    left: 0px;
    top: 0px;
  }

  .section-information-title {
    font-weight: normal;
  }
}

@media (max-width: 500px) {
  .subtitle {
    font-size: 2rem;
  }

  .section-cards {
    grid-template-columns: 1fr 4fr;
  }

  .section-cards h4 {
    font-size: 1.25rem;
  }

  .last-recent-section {
    grid-template-columns: 1fr 4fr;
  }

  .section-description {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .subtitle {
    font-size: 1rem;
  }
}
